<h2>Enter your name: </h2>

<form action="/" method="POST">
  <input id="user_name" type="text" name="user_name">
  <input type="submit" value="Submit Name">
</form>

<h2>Whatever you type below will be tweeted.</h2><br>

<form action="/send_tweet" method="POST">
  <label for="tweet">Type in a new Tweet:</label>
  <input type="text" name="tweet">
  <input type="submit" value="Submit Tweet">
</form>

<h2>Look on your twitter page to check for it.</h2>